
.icon-play:before { content: '\e800'; } /* '' */
.icon-expand-right:before { content: '\e801'; } /* '' */
.icon-collapse-left:before { content: '\e802'; } /* '' */
.icon-collapse:before { content: '\e803'; } /* '' */
.icon-expand:before { content: '\e804'; } /* '' */
.icon-play-circled:before { content: '\e805'; } /* '' */
.icon-play-circled2:before { content: '\e806'; } /* '' */
.icon-stop:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-to-end:before { content: '\e809'; } /* '' */
.icon-to-end-alt:before { content: '\e80a'; } /* '' */
.icon-to-start:before { content: '\e80b'; } /* '' */
.icon-to-start-alt:before { content: '\e80c'; } /* '' */
.icon-fast-fw:before { content: '\e80d'; } /* '' */
.icon-fast-bw:before { content: '\e80e'; } /* '' */
.icon-eject:before { content: '\e80f'; } /* '' */